<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 生成商户清算明细对账文件任务 -->
	<bean id="createMemberFileTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="createMemberFileDetail"/>
		<property name="startDelay" value="0"/>
		<property name="cronExpression" value="0 0 2 * * ?"/>
	</bean>
	<bean id="createMemberFileDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="createMemberFileJob"/>
		<property name="targetMethod" value="execute"/>
		<property name="concurrent" value="false"/>
	</bean>

	<!-- 生成保证金账户对账文件任务 -->
	<bean id="createBondSDFileTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="createBondSDFileDetail"/>
		<property name="startDelay" value="0"/>
		<property name="cronExpression" value="0 2 2 * * ?"/>
	</bean>
	<bean id="createBondSDFileDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="createBondSDFileJob"/>
		<property name="targetMethod" value="execute"/>
		<property name="concurrent" value="false"/>
	</bean>

</beans>
